/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.marker-icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 24px;

    border: 1px solid gray;
    border-radius: 4px;
    background: #fff;

    .thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 18px;
        height: 18px;
        background-color: #fe0000;
        border-radius: 50%;

        img {
            filter: invert(1);
        }
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
